.logo {
    width: 100%;
    border-bottom: 1px solid;
    padding: 9.5px 0px;
    border-right: 1px solid;
}

.header {
    padding: 0;
    background: #fff !important; 
    border-bottom: 1px solid;
}

.content {
    margin: 16px 16px;
}

.footer {
    text-align: center;
}
